html {
    font-family: Inter;
}

header {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

main {
    background-color: #F8FAFC;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

span {
    font-weight: bold;
}

hr {
    border: none;
    height: 1px;
    background-color: #D2D5DA;
}

h1{
    font-size: 2.25rem;
    font-weight: 600;
}

h2 {
    font-size: 1.5rem;
    font-weight: 600;
}

.text {
    font-size: 1rem;
    font-weight: 400;
}